.affairs {
    padding: 20px;
    background-color: #0c073b;
}

.container {
    /*max-width: 500px;*/
    display: inline-block;
}

.affairsItems {
    margin-bottom: 10px;
}

.affair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    /*margin-bottom: 5px;*/
    background-color: #3a3a3a;
    /*border-radius: 3px;*/

    padding: 10px;
}

.affair:not(:last-child) {
    border-bottom: 1px solid #a8a8a8;
}

.name,
.priority{
    width: 100%
}

.name {
    color: #fff;
    max-width: 150px;
    margin-right: 15px;
    word-break: break-word;
}

.priority {
    max-width: 80px;
}

.affairs button {
    border: none;

    /*border-radius: 5px;*/
    cursor: pointer;
}

.deleteBtn {
    background: none;
    color: #fff;
}

.deleteBtn:hover {
    color: #ff3d3d;
}

.filterBtns {
    display: flex;
    justify-content: space-between;

}



.filterBtn {
    padding: 10px 15px;
    background-color: #3a3a3a;
    color: #fff;
}

.filterBtn.active {
    background-color: #76a331;
}

.filterBtn:hover {
    background-color: #76a331;
}

.filterBtn:not(:last-child) {
    margin-right: 5px;
}

.highPriority {
    color: #ff3d3d;
}
.middlePriority {
    color: darkorange;
}
.lowPriority {
    color: #00b900;
}


