.someClass {

}

.addUser {
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
}

.addUserBtn {
    margin-right: 5px;
}

.totalUsers {

}

.error {
    border: 1px solid red;
}

.errorText {
    font-size: 14px;
    color: red;
}